Source: puppet-module-puppet-archive
Section: admin
Priority: optional
Maintainer: Cecile Yoshikawa <cecile.yoshikawa@edf.fr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://forge.puppet.com/puppet/archive

Package: puppet-module-puppet-archive
Architecture: all
Depends: puppet-common,
         puppet-module-puppetlabs-stdlib (>= 4.2.0),
         ${misc:Depends}
Description: Puppet module archive
 Puppet lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 This module manages download, deployment, and cleanup of archive files.
